<div class="notice">
<h2 style="padding-bottom: 20px;">Chimpenstein lets you turn two regular campaigns into one A/B-split test campaign.</h2>
<a href="/signin" class="action btn btn-success">I have two draft campaigns ready.</a>
</div>
<div class="row">
  <div class="span5 steps">
    <ol>
      <li>Pick two different regular campaigns.</li>
      <li>Use this app to join them into one.</li>
      <li>Find out which campaign is more effective.</li>
    </ol>
  </div>
  <div class="explanation span7">
         <div class="explanation-image">

         </div>
  </div>
</div>
<hr />
<div class="notice">
  <p>Two regular ole' campaigns come together. Only one will survive.</p>
</div>