<div class="notice">
<h2 style="padding-bottom: 20px;">Chimpenstein lets you A/B test regular campaign content for your MailChimp campaigns with just a few clicks.</h2>

<a href="/signin" class="action btn btn-success">Get Started Now</a>

</div>
<hr />
<div class="notice">
  <p>Two regular ole' campaigns come together. Only one will survive.</p>
</div>