<td><%= title %></td>

<td class="action"><a href="#/<%= id %>/pickA" class="btn btn-warning pickA">Pick A</td>
<td class="action"><a href="#/<%= id %>/pickB" class="btn btn-success pickB">Pick B</td>
