<td class="action"><a href="#/<%= id %>/pickA" class="btn btn-inverse pickA">Pick A</td>
<td class="popup-preview"><%= title %></td>
<td class="action"><a href="#/<%= id %>/pickB" class="btn btn-warning pickB">Pick B</td>
