<div class="offset1 span5 campaignPick campaignA">
  <h3>Campaign A</h3>
  <%= pickA.get('title') %>
</div>
<div class="span5 campaignPick campaignB">
  <h3>Campaign B</h3>
  <%= pickB.get('title') %>
</div>