<div class="offset1 span5 campaignPick campaignA">
  <h5>Campaign A</h5>
  <h3><%= pickA.get('title') %></h3>
</div>
<div class="span5 campaignPick campaignB">
  <h5>Campaign B</h5>
  <h3><%= pickB.get('title') %></h3>
</div>