<h1>Step 2</h1>
<div class="row config">
</div>


<hr />

<div class="createCampaign">
  <a href="#/step_three" class="action">I've picked the two campaigns I want to A/B test.</a>
</div>
<h3>Campaigns</h3>

<table id="campaigns-table" class="table">
  <thead>
    <tr>
      <th>Title</th>
      <colspan></colspan>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
