
<div class="status">
  <h2 class="message"></h2>
  <div class="progress progress-striped
       active">
    <div class="bar"
         style="width: 0%;"></div>
  </div>
  <div class="finished">
    <a href="#" target='_blank' class="web_url btn btn-primary btn-large">Click here to set up the new A/B Split campaign.</a>
  </div>
  <hr />
  <div class="notice">
    <h3>Remember</h3>
    <p>Be sure to select "subject line" or "from address" as the testing method to allow for content-based testing.</p>
</div>