<h1>Step One</h1>
<hr />
<div class="notice">
<p>
Chimpenstein works by combining 2 draft campaigns that you create into a single A/B test campaign. If you already have 2 campaigns ready to A/B test, then you're ready to get started. If not, go to <a href="https://<%=Chimpenstein.dc%>.admin.mailchimp.com/" target="_blank">MailChimp</a> and make 2 separate draft campaigns that have the variations in content that you want to test.
</p>

<p>
If you set the subject line and from address on each of those 2 campaigns, we'll use those values for each of the A/B sections of the test respectively. You'll also be able to choose any A-B split specific details once the campaigns have been combined.
</p>

<a href="#/step_two" class="btn btn-success action">I have two draft campaigns ready.</a>
</div>