
<div class="status">
  <h2 class="message"></h2>
  <div class="progress progress-striped
       active">
    <div class="bar"
         style="width: 0%;"></div>
  </div>
  <div class="finished">
    <a href="#" target='_blank' class="web_url">Click here to set up the new A/B Split campaigns.</a>
  </div>
</div>