<h1>Step 2</h1>
<div class="row config">
</div>


<hr />

<div class="createCampaign">
  <a href="#/step_three" class="action">I've picked the two campaigns I want to A/B test.</a>
</div>

<table id="campaigns-table" class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div id="spin">
</div>
