<h1>Choose Two Campaigns</h1>
<hr />

<div class="row config">
</div>



<div class="createCampaign invisible">
  <a href="#/step_three" class="btn btn-success action">I've picked the two campaigns I want to A/B test.</a>
</div>

<table id="campaigns-table" class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div id="spin">
</div>
